<div class="container results">
    <div class="page-header">
        <h1>Statistics <small>Friendship, devastation, and resistance.</small></h1>
    </div>
    <ul class="nav nav-tabs" role="tablist">
        {{#link-to "results.index" tagName="li"}}
            <a {{bind-attr href="view.href"}}>Overview</a>
        {{/link-to}}
        {{#link-to "results.ladder" tagName="li"}}
            <a {{bind-attr href="view.href"}}>Ladder</a>
        {{/link-to}}
        {{#link-to "results.individual" tagName="li"}}
            <a {{bind-attr href="view.href"}}>Individual</a>
        {{/link-to}}
    </ul>

    {{outlet}}

    {{share-social url=currentPath}}



</div>

